@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {

  @keyframes slideIn {
    0% {
        transform: translateY(-100vh) translateX(-50%);
        opacity: 0;
    }
    80% {
      transform: translateY(-264px) translateX(-50%); /* Move close to the final position */
      opacity: 1; /* Fully visible */
    }
    90% {
      transform: translateY(-297px) translateX(-50%); /* Overshoot the final position slightly */
    }
    100% {
        transform: translateY(-330px) translateX(-50%);
        opacity: 1;
    }
}

.animate-logo {
    animation: slideIn 1s ease-out, bounce 0.4s ease-out 0.9s forwards;;
}

/* Define the fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

.fade-in-second {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 1s; /* Delay of 1 second */
}

.fade-in-third {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 2s; /* Delay of 2 seconds */
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}
/* Define the slide-in and fade-in animation for the left image */
.slide-in-left {
  opacity: 0; /* Start invisible */
  transform: translateX(-100vw); /* Start off the screen to the left */
  animation: slideInFromLeft 2s ease-out forwards;
}

/* Define the slide-in and fade-in animation for the right image */
.slide-in-right {
  opacity: 0; /* Start invisible */
  transform: translateX(100vw); /* Start off the screen to the right */
  animation: slideInFromRight 2s ease-out forwards;
}

/* Keyframes for sliding in from the left */
@keyframes slideInFromLeft {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(-100vw); /* Start far left */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

/* Keyframes for sliding in from the right */
@keyframes slideInFromRight {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(100vw); /* Start far right */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

.slide-in-right-delay {
  opacity: 0; /* Start invisible */
  transform: translateX(100vw); /* Start off the screen to the right */
  animation: slideInFromRightD 4s ease-out forwards;
}

@keyframes slideInFromRightD {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(100vw); /* Start far right */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

}


@layer utilities {
  /* Default Large Screens */
  .other-bar{
    align-items: center;
    display: flex;
    gap: 3.5rem; 
  }
  .logo-image {
    width: 500px;
    height: auto;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -66%);
  }

  .home-image-right {
    width: 425px;
    height: auto;
    right: 10px;
    top: 50%;
    transform: translateY(-75%);
  }

  .home-image-left {
    width: 425px;
    height: auto;
    left: 10px;
    top: 50%;
    transform: translateY(-75%);
  }

  .main-heading {
    position: absolute;
    top: 420px;
    left: 51%;
    transform: translateX(-145%);
    font-size: 4.5rem; /* text-7xl */
    color: #0047B2;
  }

  .sub-heading {
    position: absolute;
    top: 515px;
    left: 51%;
    transform: translateX(-118%);
    font-size: 1.5rem; /* text-2xl */
    color: #0047B2;
  }

  .slogan {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; /* text-4xl */
    color: #0047B2;
  }

  .full-bg {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Apply{
    position: absolute;
    top: 200px;
    left: 65%;
    transform: translateX(-150%);
    color: #85C7F2;
  }

  .sub-apply{
    position: absolute;
    top: 300px;
    left: 79%;
    transform: translateX(-105%);
    color: #85C7F2;
    width: 50%;
  }

  .apply-button{
    top: 450px;
    left: 49%;
    transform: translateX(-50%);
    color: #85C7F2;
  }

  .full-bgapply {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-us{
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    color: #5C8FFF
  }
  .about-us-one{
    width: 735px;
    height: 600px;
    position: absolute;
    top: 180px;
    left: 25%;
    transform: translateX(-50%);
  }

  .about-us-one-image{
    top: 265px;
    right:210px;
    width: 325px;
    height: auto;
  }
  .about-us-one-title{
    font-size: 2xl; /* text-2xl */
  }
  .about-us-one-para{
    font-size: small;
  }

  .about-us-two{
    position: absolute;
    top: 230px;
    left: 75%;
    transform: translateX(-50%);
    width: 700px;
    height: 500px;
  }
  .about-us-two-image{
    top: 185px;
    right:210px; 
    width: 300px; 
    height: auto;
  }
  .about-us-two-title{
    font-size: large;
  }
  .about-us-two-para{
    font-size: small;
  }

  .full-bgabout {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .contact-us{
    position: absolute;
     top: 180px; 
     left: 65%;
     transform: translateX(-185%); 
     color: #002960;
     font-size: 4.5rem;
  }

  .contact-us-sub{
    font-size: 1.875rem;
    position: absolute;
    top: 280px;
    left: 70%;
    transform: translateX(-185%);
    color: #002960;

  }

  .insta{
    position: absolute;
    top: 465px; 
    left: 62%; 
    transform: translateX(-950%); 
    width: 75px; 
    height: 75px;
  }

  .linkedIn{
    position: absolute; 
    top: 465px; 
    left: 60%; 
    transform: translateX(-750%); 
    width: 75px; 
    height: 75px;
  }

  .gmail{
    position: absolute;
    top: 465px;
    left: 60%;
    transform: translateX(-550%);
     width: 75px; 
     height: 75px;
  }

  .contact-image{
    width: 500px;
    height: auto;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -66%);
  }

  .full-bgcontact {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .sponsors{
    position: absolute;
    top: 45px;
    left: 58%;
    transform: translateX(-150%);
    color: #FFFFFF;
  }

  .sponsors-title{
    position: absolute;
    top: 180px;
    left: 60%;
    transform: translateX(-131%);
    color: #FFFFFF;
    font-size: 2xl; /* text-2xl */
  }

  .sponsors-para{
    position: absolute;
    top: 325px;
    left: 49%;
    transform: translateX(-80%);
    color: #FFFFFF;
    font-size: small;
  }

  .sponsors-link{
    position: absolute;
    top: 450px;
    left: 49%;
    transform: translateX(-80%);
    color: #FFFFFF;
    font-size: small;
  }

  .sponsors-join{
    position: absolute;
    top: 550px;
    left: 42%;
    transform: translateX(-219%);
    color: #FFFFFF;
    font-size: small;
  }

  .sponsors-contact{
    position: absolute;
    top: 600px;
    left: 48%;
    transform: translateX(-85%);
    color: #FFFFFF;
    font-size: small;
  }

  .sponsors-button{
    top: 620px;
    left: 81%;
    transform: translateX(-50%);
  }

  .sponsors-image{
    position: absolute;
     top: 250px;
     left: 115%;
     transform: translateX(-150%);
     width: 500px;
     height: auto;
  }

  .sponsors-engg{
    position: absolute;
    top: 10px;
    left: 81%;
    transform: translateX(-150%);
    width: 375px;
    height: auto;
  }

  .sponsort-nero{
    position: absolute;
    top: 10px;
    left: 87%;
    transform: translateX(-150%);
    width: 165px;
    height: auto;
  }

  .full-bgsponsors {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .events{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #85C7F2;
    font-size: 4.5rem; /* text-2xl */
  }

  .events-image{
    width: 600px;
    height: auto;
    position: absolute;
    top: 150px;
    left: 60%;
    transform: translateX(-145%);
  }

  .events-title1{
    position: absolute;
    top: 175px;
    left: 63%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.875rem; /* text-2xl */
  }

  .events-title2{
    position: absolute;
    top: 465px;
    left: 68%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.875rem; /* text-2xl */
  }

  .events-para1{
    position: absolute;
    top: 225px;
    left: 65%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.125rem;
  }

  .events-para2{
    position: absolute;
    top: 570px;
    left: 65%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.125rem;
  }

  .events-line{
    position: absolute;
    top: 430px;
    left: 65%;
    transform: translateX(-50%);
    color: #002960;
  }

  .full-bgevents {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .project{
    position: absolute;
    top: 35px;
    left: 30%;
    color: #85C7F2;
    font-size: 4.5rem; /* text-2xl */
  }

  .project-title1{
    position: absolute;
    top: 160px;
    left: 27%;
    transform: translateX(-50%);
    color: #85C7F2;
    font-size: 1.875rem; /* text-2xl */
  }

  .project-title2{
    position: absolute;
    top: 465px;
    left: 14%;
    transform: translateX(-54%);
    color: #85C7F2;
    font-size: 1.875rem; /* text-2xl */
  }

  .project-para1{
    position: absolute;
    top: 225px;
    left: 38%;
    transform: translateX(-49%);
    color: #85C7F2;
    font-size: 1.125rem;
  }

  .project-para2{
    position: absolute;
    top: 525px;
    left: 38%;
    transform: translateX(-49%);
    color: #85C7F2;
    font-size: 1.125rem;
  }

  .project-image1{
    top: 365px;
    right: 150px;
    width: 265px;
    height: auto;
  }

  .project-image2{
    top: 700px;
    right: 135px;
    width: 300px;
    height: auto;
  }

  .project-line{
    position: absolute;
    top: 415px;
    left: 37%;
    transform: translateX(-50%);
    color: #85C7F2;
  }

  .full-bgproject {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .team{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #0047B2;
    font-size: 4.5rem; /* text-2xl */
  }

  .team-image{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: auto;
  }

  .team-para{
    position: absolute;
    top: 660px;
    left: 51%;
    transform: translateX(-51%);
    color: #0047B2;
    font-size: 1.05rem;
    width: 90%;
  }

  .team-bg{
    width: 1800px;
    height: 770px;
  }

  .full-bgteam {
    height: 103vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Small Screens (max-width: 600px) */
  @media only screen and (max-width: 600px) {
    /* .nav-bar{
      gap: -10px;
      font-size: 0.4rem;
      padding: 1px;
    
    } */
    .other-bar{
      padding: 0px;
      gap : 0rem;
      right:50%;
    }
    .logo-image {
      width: 200px;
      top: 51%;
      left: 55%;
    }

    .home-image-right{
      width: 100px;
      top: 50%;
    }
    .home-image-left {
      width: 100px;
      top: 50%;
      right: 10%
    }

    .main-heading {
      font-size: 2rem; /* text-3xl */
      top: 51%;
      left: 31%;
      transform: translateX(-50%);
    }

    .sub-heading {
      font-size: 1rem; /* text-xl */
      top: 55%;
      left: 43%;
      transform: translateX(-50%);
    }

    .slogan {
      font-size: 1rem; /* text-2xl */
      top: 60%;
      left: 55%;
    }

    .full-bg {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .Apply{
      position: absolute;
      top: 225px;
      left: 90%;
      transform: translateX(-150%);
      color: #85C7F2;
      font-size: 	3.5rem;
    }
  
    .sub-apply{
      position: absolute;
      top: 310px;
      left: 90%;
      transform: translateX(-100%);
      color: #85C7F2;
      font-size: 1rem;
      width: 75%;
    }
  
    .apply-button{
      top: 500px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }

    .full-bgapply {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .contact-us{
      position: absolute;
      top: 200px; 
      left: 99%;
      transform: translateX(-85%); 
      color: #002960;
      font-size: 3.5rem;
      width: 100%;
    }

    .contact-us-sub{
      font-size: 1rem;
      position: absolute;
      top: 300px;
      left: 78%;
      transform: translateX(-80%);
      color: #002960;
      width: 75%;

    }

    .insta{
      position: absolute;
      top: 400px; 
      left: 110%; 
      transform: translateX(-700%); 
      width: 50px; 
      height: 50px;
    }

    .linkedIn{
      position: absolute; 
      top: 400px; 
      left: 110%; 
      transform: translateX(-525%); 
      width: 50px; 
      height: 50px;
    }

    .gmail{
      position: absolute;
      top: 400px;
      left: 110%;
      transform: translateX(-350%);
      width: 50px; 
      height: 50px;
    }

    .contact-image{
      width: 400px;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -66%);
    }

    .full-bgcontact {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .sponsors{
      position: absolute;
      top: 25px;
      left: 85%;
      transform: translateX(-150%);
      color: #FFFFFF;
      font-size: 3rem;
    }

    .sponsors-title{
      position: absolute;
      top: 150px;
      left: 80%;
      transform: translateX(-70%);
      color: #FFFFFF;
      font-size: 2rem; /* text-2xl */
      width: 100%;
    }

    .sponsors-para{
      position: absolute;
      top: 225px;
      left: 79%;
      transform: translateX(-80%);
      color: #FFFFFF;
      font-size: 0.75rem;
      width: 85%;
    }

    .sponsors-link{
      position: absolute;
      top: 400px;
      left: 79%;
      transform: translateX(-80%);
      color: #FFFFFF;
      font-size: 0.75rem;
      width: 85%;
    }

    .sponsors-join{
      position: absolute;
      top: 530px;
      left: 90%;
      transform: translateX(-80%);
      color: #FFFFFF;
      font-size: 0.75rem;
      width: 85%;
    }

    .sponsors-contact{
      position: absolute;
      top: 580px;
      left: 79%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 0.75rem;
      width: 85%;
    }

    .sponsors-button{
      top: 650px;
      left: 50%;
      transform: translateX(-50%);
    }

    .sponsors-image{
      position: absolute;
       top: 650px;
       left: 107%;
       transform: translateX(-128%);
       width: 325px;
       height: auto;
    }

    .sponsors-engg{
      position: absolute;
      top: 75px;
      left: 90%;
      transform: translateX(-126%);
      width: 100px;
      height: auto;
    }

    .sponsort-nero{
      position: absolute;
      top: 65px;
      left: 99%;
      transform: translateX(-110%);
      width: 60px;
      height: auto;
    }

    .full-bgsponsors {
      height: 106vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .events{
      position: absolute;
      top: 35px;
      left: 58%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 3.5rem;
      width: 100%;
    }

    .events-image{
      width: 0px;
      height: auto;
      position: absolute;
      top: 190px;
      left: 50%;
      transform: translateX(-145%);
    }

    .events-title1{
      position: absolute;
      top: 125px;
      left: 59%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1.80rem;
      width: 100%;
    }

    .events-title2{
      position: absolute;
      top: 475px;
      left: 62%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1.5rem;
      width: 100%;
    }

    .events-para1{
      position: absolute;
      top: 180px;
      left: 53%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1rem;
      width: 75%;
    }

    .events-para2{
      position: absolute;
      top: 570px;
      left: 53%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1rem;
      width: 75%;
    }

    .events-line{
      position: absolute;
      top: 440px;
      left: 50%;
      transform: translateX(-50%);
      color: #002960;
      width: 40%;
    }

    .full-bgevents {
      height: 108vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .project{
      position: absolute;
      top: 15px;
      left: 17%;
      color: #85C7F2;
      font-size: 2.5rem;
      width: 100%;
    }

    .project-title1{
      position: absolute;
      top: 80px;
      left: 60%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 1.5rem;
      width: 100%;
    }

    .project-title2{
      position: absolute;
      top: 700px;
      left: 80%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 1.5rem;
      width: 100%;
    }

    .project-para1{
      position: absolute;
      top: 165px;
      left: 50%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 0.8rem;
      width: 75%;
    }

    .project-para2{
      position: absolute;
      top: 750px;
      left: 50%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 0.8rem;
      width: 75%;
    }

    .project-image1{
      top: 600px;
      left: 25%;
      width: 200px;
      height: auto;
    }

    .project-image2{
      top: 1115px;
      left: 25%;
      width: 225px;
      height: auto;
    }

    .project-line{
      position: absolute;
      top: 675px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }

    .full-bgproject {
      height: 127vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .team{
      position: absolute;
      top: 20px;
      left: 65%;
      transform: translateX(-50%);
      color: #0047B2;
      font-size: 3rem;
      width: 100%;
    }

    .team-image{
      position: absolute;
      top: 110px;
      left: 50%;
      transform: translateX(-50%);
      width: 375px;
      height: auto;
    }

    .team-para{
      position: absolute;
      top: 300px;
      left: 40%;
      transform: translateX(-29%);
      color: #0047B2;
      font-size: 1rem;
      width: 60%;
    }

    .team-bg{
      width: 1800px;
      height: 850px;
    }

    .full-bgteam {
      height: 111vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .about-us{
      position: absolute;
      top: 30px;
      left: 66%;
      transform: translateX(-50%);
      color: #5C8FFF;
      font-size: 3.5rem;
      width: 100%;
    }

    .about-us-one{
      width: 375px;
      height: 500px;
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
    }

    .about-us-one-image{
      top: 265px;
      left: 20%;
      width: 200px;
      height: auto;
    }
    .about-us-one-title{
      font-size: 2xl; /* text-2xl */
    }
    .about-us-one-para{
      font-size: small;
    }

    .about-us-two{
      position: absolute;
      top: 650px;
      left: 50%;
      transform: translateX(-50%);
      width: 375px;
      height: 500px;
    }
    .about-us-two-image{
      top: 185px;
      left: 20%;
      width: 200px; 
      height: auto;
    }
    .about-us-two-title{
      font-size: large;
    }
    .about-us-two-para{
      font-size: small;
    }
    .full-bgabout {
      height: 125vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  /* Medium Screens (601px - 1024px) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .logo-image {
      width: 350px;
      height: 800px;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -66%);
    }

    .other-bar{
      align-items: center;
      display: flex;
      gap: 0.5rem; 
    }

    .home-image-right, 
    .home-image-left {
      width: 250px;
      top: 48%;
    }

    .main-heading {
      font-size: 3rem; /* text-4xl */
      top: 47%;
      left: 33%;
      transform: translateX(-50%);
    }

    .sub-heading {
      font-size: 1.5rem; /* text-2xl */
      top: 51%;
      left: 40%;
      transform: translateX(-50%);
    }

    .slogan {
      font-size: 1.6rem; /* text-3xl */
      top: 55%;
    }

    .full-bg {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .Apply{
      position: absolute;
      top: 225px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }
  
    .sub-apply{
      position: absolute;
      top: 310px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
      width: 55%;
    }
  
    .apply-button{
      top: 435px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }
    .full-bgapply {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .about-us{
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      color: #5C8FFF
    }
    .about-us-one{
      width: 750px;
      height: 600px;
      position: absolute;
      top: 180px;
      left: 50%;
      transform: translateX(-50%);
    }

    .about-us-one-image{
      top: 265px;
      right:210px;
      width: 325px;
      height: auto;
    }
    .about-us-one-title{
      font-size: 2rem; /* text-2xl */
    }
    .about-us-one-para{
      font-size: 1rem;
    }

    .about-us-two{
      position: absolute;
      top: 830px;
      left: 50%;
      transform: translateX(-50%);
      width: 750px;
      height: 500px;
    }
    .about-us-two-image{
      top: 185px;
      right:210px; 
      width: 300px; 
      height: auto;
    }
    .about-us-two-title{
      font-size: 2rem;
    }
    .about-us-two-para{
      font-size: 1rem;
    }
    .full-bgabout {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .contact-us{
      position: absolute;
       top: 400px; 
       left: 60%;
       transform: translateX(-100%); 
       color: #002960;
       font-size: 3.5rem;
       width: 50%;
    }

    .contact-us-sub{
      font-size: 1.25rem;
      position: absolute;
      top: 500px;
      left: 60%;
      transform: translateX(-100%);
      color: #002960;
      width: 50%;

    }

    .insta{
      position: absolute;
      top: 600px; 
      left: 60%; 
      transform: translateX(-700%); 
      width: 75px; 
      height: 75px;
    }

    .linkedIn{
      position: absolute; 
      top: 600px; 
      left: 60%; 
      transform: translateX(-500%); 
      width: 75px; 
      height: 75px;
    }

    .gmail{
      position: absolute;
      top: 600px;
      left: 60%;
      transform: translateX(-300%);
       width: 75px; 
       height: 75px;
    }

    .contact-image{
      width: 400px;
      height: auto;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -66%);
    }

    .full-bgcontact {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .sponsors{
      position: absolute;
      top: 45px;
      left: 50%;
      transform: translateX(-110%);
      color: #FFFFFF;
      font-size: 3.75rem;
    }

    .sponsors-title{
      position: absolute;
      top: 175px;
      left: 50%;
      transform: translateX(-45%);
      color: #FFFFFF;
      font-size: 3.5rem;
      width: 100%;
    }

    .sponsors-para{
      position: absolute;
      top: 350px;
      left: 50%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 1.25rem;
    }

    .sponsors-link{
      position: absolute;
      top: 575px;
      left: 50%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 1.125rem;
    }

    .sponsors-join{
      position: absolute;
      top: 725px;
      left: 50%;
      transform: translateX(-125%);
      color: #FFFFFF;
      font-size: 1.125rem;
    }

    .sponsors-contact{
      position: absolute;
      top: 770px;
      left: 50%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 1.125rem;
    }

    .sponsors-button{
      top: 680px;
      left: 75%;
      transform: translateX(-50%);
    }

    .sponsors-image{
      position: absolute;
       top: 350px;
       left: 100%;
       transform: translateX(-95%);
       width: 500px;
       height: auto;
    }

    .sponsors-engg{
      position: absolute;
      top: 10px;
      left: 63%;
      transform: translateX(-50%);
      width: 300px;
      height: auto;
    }

    .sponsort-nero{
      position: absolute;
      top: 10px;
      left: 85%;
      transform: translateX(-50%);
      width: 125px;
      height: auto;
    }

    .full-bgsponsors {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .events{
      position: absolute;
      top: 70px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 2xl; /* text-2xl */
    }

    .events-image{
      width: 500px;
      height: auto;
      position: absolute;
      top: 350px;
      left: 50%;
      transform: translateX(-100%);
    }

    .events-title1{
      position: absolute;
      top: 200px;
      left: 63%;
      transform: translateX(-25%);
      color: #002960;
      font-size: 2.5rem; /* text-2xl */
    }

    .events-title2{
      position: absolute;
      top: 585px;
      left: 63%;
      transform: translateX(-20%);
      color: #002960;
      font-size: 2.25rem;
      width: 50%;
    }

    .events-para1{
      position: absolute;
      top: 325px;
      left: 65%;
      transform: translateX(-25%);
      color: #002960;
      font-size: 1rem;
    }

    .events-para2{
      position: absolute;
      top: 700px;
      left: 65%;
      transform: translateX(-25%);
      color: #002960;
      font-size: 1rem;
    }

    .events-line{
      position: absolute;
      top: 550px;
      left: 65%;
      transform: translateX(-25%);
      color: #002960;
    }
    .full-bgevents {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .project{
      position: absolute;
      top: 25px;
      left: 25%;
      color: #85C7F2;
      font-size: 4.5rem;
    }

    .project-title1{
      position: absolute;
      top: 200px;
      left: 25%;
      transform: translateX(-30%);
      color: #85C7F2;
      font-size: 2rem;
    }

    .project-title2{
      position: absolute;
      top: 515px;
      left: 17%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 2rem;
    }

    .project-para1{
      position: absolute;
      top: 265px;
      left: 38%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 1rem;
      width: 60%;
    }

    .project-para2{
      position: absolute;
      top: 570px;
      left: 38%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 1rem;
      width: 60%;
    }

    .project-image1{
      top: 415px;
      left: 73%;
      width: 250px;
      height: auto;
    }

    .project-image2{
      top: 725px;
      left: 70%;
      width: 300px;
      height: auto;
    }

    .project-line{
      position: absolute;
      top: 475px;
      left: 37%;
      transform: translateX(-50%);
      color: #85C7F2;
    }

    .full-bgproject {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .team{
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      color: #0047B2;
      font-size: 2xl; /* text-2xl */
    }

    .team-image{
      position: absolute;
      top: 110px;
      left: 50%;
      transform: translateX(-50%);
      width: 900px;
      height: auto;
    }

    .team-para{
      position: absolute;
      top: 475px;
      left: 51%;
      transform: translateX(-51%);
      color: #0047B2;
      font-size: small;
    }

    .team-bg{
      width: 1800px;
      height: 600px;
    }
    .full-bgteam {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}