@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {

  @keyframes slideIn {
    0% {
        transform: translateY(-100vh) translateX(-50%);
        opacity: 0;
    }
    80% {
      transform: translateY(-264px) translateX(-50%); /* Move close to the final position */
      opacity: 1; /* Fully visible */
    }
    90% {
      transform: translateY(-297px) translateX(-50%); /* Overshoot the final position slightly */
    }
    100% {
        transform: translateY(-330px) translateX(-50%);
        opacity: 1;
    }
}

.animate-logo {
    animation: slideIn 1s ease-out, bounce 0.4s ease-out 0.9s forwards;;
}

/* Define the fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

.fade-in-second {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 1s; /* Delay of 1 second */
}

.fade-in-third {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 2s; /* Delay of 2 seconds */
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}
/* Define the slide-in and fade-in animation for the left image */
.slide-in-left {
  opacity: 0; /* Start invisible */
  transform: translateX(-100vw); /* Start off the screen to the left */
  animation: slideInFromLeft 2s ease-out forwards;
}

/* Define the slide-in and fade-in animation for the right image */
.slide-in-right {
  opacity: 0; /* Start invisible */
  transform: translateX(100vw); /* Start off the screen to the right */
  animation: slideInFromRight 2s ease-out forwards;
}

/* Keyframes for sliding in from the left */
@keyframes slideInFromLeft {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(-100vw); /* Start far left */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

/* Keyframes for sliding in from the right */
@keyframes slideInFromRight {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(100vw); /* Start far right */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

.slide-in-right-delay {
  opacity: 0; /* Start invisible */
  transform: translateX(100vw); /* Start off the screen to the right */
  animation: slideInFromRightD 4s ease-out forwards;
}

@keyframes slideInFromRightD {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(100vw); /* Start far right */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

}


@layer utilities {
  /* Default Large Screens */

  .nav-logo{
    width: 75px;
    height: auto;
  }
  .other-bar{
    align-items: center;
    display: flex; 
    flex-direction: row;
  }
  .logo-image {
    width: 500px;
    height: auto;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -66%);
  }

  .home-image-right {
    width: 425px;
    height: auto;
    right: 10px;
    top: 50%;
    transform: translateY(-75%);
  }

  .home-image-left {
    width: 425px;
    height: auto;
    left: 10px;
    top: 50%;
    transform: translateY(-75%);
  }

  .main-heading {
    position: absolute;
    top: 52%;
    left: 51%;
    transform: translateX(-145%);
    font-size: 4.5rem; /* text-7xl */
    color: #0047B2;
  }

  .sub-heading {
    position: absolute;
    top: 63%;
    left: 51%;
    transform: translateX(-118%);
    font-size: 1.5rem; /* text-2xl */
    color: #0047B2;
  }

  .slogan {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; /* text-4xl */
    color: #0047B2;
  }

  .full-bg {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .Apply{
    position: absolute;
    top: 24%;
    left: 65%;
    transform: translateX(-150%);
    color: #85C7F2;
  }

  .sub-apply{
    position: absolute;
    top: 35%;
    left: 79%;
    transform: translateX(-105%);
    color: #85C7F2;
    width: 50%;
  }

  .apply-button{
    top: 45%;
    left: 49%;
    transform: translateX(-50%);
    color: #85C7F2;
  }

  .full-bgapply {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .about-us{
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    color: #5C8FFF
  }
  .about-us-one{
    width: 735px;
    height: 600px;
    position: absolute;
    top: 180px;
    left: 25%;
    transform: translateX(-50%);
  }

  .about-us-one-image{
    top: 265px;
    right:210px;
    width: 325px;
    height: auto;
  }
  .about-us-one-title{
    font-size: 2xl; /* text-2xl */
  }
  .about-us-one-para{
    font-size: small;
  }

  .about-us-two{
    position: absolute;
    top: 230px;
    left: 75%;
    transform: translateX(-50%);
    width: 700px;
    height: 500px;
  }
  .about-us-two-image{
    top: 185px;
    right:210px; 
    width: 300px; 
    height: auto;
  }
  .about-us-two-title{
    font-size: large;
  }
  .about-us-two-para{
    font-size: small;
  }

  .full-bgabout {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }
  .contact-us{
    position: absolute;
     top: 21%; 
     left: 65%;
     transform: translateX(-185%); 
     color: #002960;
     font-size: 4.5rem;
  }

  .contact-us-sub{
    font-size: 1.875rem;
    position: absolute;
    top: 32%;
    left: 70%;
    transform: translateX(-185%);
    color: #002960;

  }

  .insta{
    position: absolute;
    top: 54%; 
    left: 62%; 
    transform: translateX(-950%); 
    width: 75px; 
    height: 75px;
  }

  .linkedIn{
    position: absolute; 
    top: 54%; 
    left: 60%; 
    transform: translateX(-750%); 
    width: 75px; 
    height: 75px;
  }

  .gmail{
    position: absolute;
    top: 54%;
    left: 60%;
    transform: translateX(-550%);
     width: 75px; 
     height: 75px;
  }

  .contact-image{
    width: 500px;
    height: auto;
    top: 50%;
    right: 1%;
    transform: translate(-50%, -66%);
  }

  .full-bgcontact {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .sponsors{
    position: absolute;
    top: 5%;
    left: 66%;
    transform: translateX(-150%);
    width: 40%;
    color: #FFFFFF;;
  }

  .sponsors-title{
    position: absolute;
    top: 17%;
    left: 74%;
    transform: translateX(-131%);
    color: #FFFFFF;
    font-size: 2xl; /* text-2xl */
    width: 50%;
  }

  .sponsors-para{
    position: absolute;
    top: 38%;
    left: 49%;
    transform: translateX(-80%);
    color: #FFFFFF;
    font-size: small;
    width: 51%;
  }

  .sponsors-link{
    position: absolute;
    top: 53%;
    left: 49%;
    transform: translateX(-80%);
    color: #FFFFFF;
    font-size: small;
    width: 51%;
  }

  .sponsors-join{
    position: absolute;
    top: 65%;
    left: 42%;
    transform: translateX(-219%);
    color: #FFFFFF;
    font-size: small;
  }

  .sponsors-contact{
    position: absolute;
    top: 71%;
    left: 48%;
    transform: translateX(-85%);
    color: #FFFFFF;
    font-size: small;
  }

  .sponsors-button{
    top: 73%;
    left: 83%;
    transform: translateX(-50%);
  }

  .sponsors-image{
    position: absolute;
     top: 29%;
     left: 117%;
     transform: translateX(-150%);
     width: 500px;
     height: auto;
  }

  .sponsors-engg{
    position: absolute;
    top: 2%;
    left: 85%;
    transform: translateX(-150%);
    width: 375px;
    height: auto;
  }

  .sponsort-nero{
    position: absolute;
    top: 2%;
    left: 90%;
    transform: translateX(-150%);
    width: 165px;
    height: auto;
  }

  .full-bgsponsors {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x:hidden;
  }

  .events{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    color: #85C7F2;
    font-size: 4.5rem; /* text-2xl */
  }

  .events-image{
    width: 575px;
    height: auto;
    position: absolute;
    top: 18%;
    left: 65%;
    transform: translateX(-145%);
  }

  .events-title1{
    position: absolute;
    top: 17%;
    left: 70%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.875rem; /* text-2xl */
    width: 30%;
  }

  .events-title2{
    position: absolute;
    top: 54%;
    left: 73%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.875rem; /* text-2xl */
    width: 44%;
  }

  .events-para1{
    position: absolute;
    top: 26%;
    left: 70%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.125rem;
    width: 37%;
  }

  .events-para2{
    position: absolute;
    top: 66%;
    left: 70%;
    transform: translateX(-50%);
    color: #002960;
    font-size: 1.125rem;
    width: 37%;
  }

  .events-line{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%);
    color: #002960;
  }

  .full-bgevents {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .project{
    position: absolute;
    top: 4%;
    left: 30%;
    color: #85C7F2;
    font-size: 4.5rem; /* text-2xl */
  }

  .project-title1{
    position: absolute;
    top: 19%;
    left: 27%;
    transform: translateX(-50%);
    color: #85C7F2;
    font-size: 1.875rem; /* text-2xl */
  }

  .project-title2{
    position: absolute;
    top: 54%;
    left: 14%;
    transform: translateX(-54%);
    color: #85C7F2;
    font-size: 1.875rem; /* text-2xl */
  }

  .project-para1{
    position: absolute;
    top: 26%;
    left: 38%;
    transform: translateX(-49%);
    color: #85C7F2;
    font-size: 1.125rem;
  }

  .project-para2{
    position: absolute;
    top: 61%;
    left: 38%;
    transform: translateX(-49%);
    color: #85C7F2;
    font-size: 1.125rem;
  }

  .project-image1{
    top: 42%;
    right: 10%;
    width: 260px;
    height: auto;
  }

  .project-image2{
    top: 81%;
    right: 9%;
    width: 300px;
    height: auto;
  }

  .project-line{
    position: absolute;
    top: 48%;
    left: 37%;
    transform: translateX(-50%);
    color: #85C7F2;
  }

  .full-bgproject {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  .team{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    color: #0047B2;
    font-size: 4.5rem; /* text-2xl */
  }

  .team-image{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: auto;
  }

  .team-para{
    position: absolute;
    top: 84%;
    left: 51%;
    transform: translateX(-51%);
    color: #0047B2;
    font-size: 1.05rem;
    width: 90%;
  }

  .team-bg{
    width: 1800px;
    height: 770px;
  }

  .full-bgteam {
    min-height: 103vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  /* Small Screens (max-width: 600px) */
  @media only screen and (max-width: 600px) {
    .nav-bar{
      gap: -10px;
      font-size: 0.4rem;
      padding: 1px;
      flex-direction: column;
    
    }

    .nav-logo{
      width: 35px;
    }
    .other-bar{
      flex-direction: row;
      display: flex;
      align-items: center;
    }
    .logo-image {
      width: 200px;
      top: 51%;
      left: 55%;
      transform: translate(-50%, -66%);
    }

    .home-image-right{
      width: 100px;
      top: 50%;
    }
    .home-image-left {
      width: 100px;
      top: 50%;
      right: 10%
    }

    .main-heading {
      font-size: 1.8rem; /* text-3xl */
      top: 51%;
      left: 31%;
      transform: translateX(-50%);
    }

    .sub-heading {
      font-size: 0.8rem; /* text-xl */
      top: 55%;
      left: 43%;
      transform: translateX(-50%);
    }

    .slogan {
      font-size: 0.9rem; /* text-2xl */
      top: 60%;
      left: 55%;
    }

    .full-bg {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .Apply{
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #85C7F2;
      font-size: 	3.5rem;
    }
  
    .sub-apply{
      position: absolute;
      top: 310px;
      left: 90%;
      transform: translateX(-100%);
      color: #85C7F2;
      font-size: 1rem;
      width: 75%;
    }
  
    .apply-button{
      top: 500px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }

    .full-bgapply {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .contact-us{
      position: absolute;
      top: 23%; 
      left: 99%;
      transform: translateX(-89%); 
      color: #002960;
      font-size: 3.5rem;
      width: 100%;
    }

    .contact-us-sub{
      font-size: 1rem;
      position: absolute;
      top: 32%;
      left: 78%;
      transform: translateX(-80%);
      color: #002960;
      width: 75%;

    }

    .insta{
      position: absolute;
      top: 44%; 
      left: 110%; 
      transform: translateX(-725%); 
      width: 50px; 
      height: 50px;
    }

    .linkedIn{
      position: absolute; 
      top: 44%; 
      left: 110%; 
      transform: translateX(-550%); 
      width: 50px; 
      height: 50px;
    }

    .gmail{
      position: absolute;
      top: 44%;
      left: 110%;
      transform: translateX(-375%);
      width: 50px; 
      height: 50px;
    }

    .contact-image{
      width: 400px;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -66%);
    }

    .full-bgcontact {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .sponsors{
      position: absolute;
      top: 2%;
      left: 153%;
      transform: translateX(-150%);
      color: #FFFFFF;
      font-size: 2.8rem;
      width: 100%;
    }

    .sponsors-title{
      position: absolute;
      top: 14%;
      left: 80%;
      transform: translateX(-70%);
      color: #FFFFFF;
      font-size: 1.8rem; /* text-2xl */
      width: 100%;
    }

    .sponsors-para{
      position: absolute;
      top: 24%;
      left: 79%;
      transform: translateX(-80%);
      color: #FFFFFF;
      font-size: 0.65rem;
      width: 95%;
    }

    .sponsors-link{
      position: absolute;
      top: 44%;
      left: 79%;
      transform: translateX(-80%);
      color: #FFFFFF;
      font-size: 0.65rem;
      width: 95%;
    }

    .sponsors-join{
      position: absolute;
      top: 58%;
      left: 90%;
      transform: translateX(-80%);
      color: #FFFFFF;
      font-size: 0.65rem;
      width: 85%;
    }

    .sponsors-contact{
      position: absolute;
      top: 63%;
      left: 79%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 0.65rem;
      width: 85%;
    }

    .sponsors-button{
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }

    .sponsors-image{
      position: absolute;
       top: 75%;
       left: 107%;
       transform: translateX(-128%);
       width: 315px;
       height: auto;
    }

    .sponsors-engg{
      position: absolute;
      top: 8%;
      left: 50%;
      transform: translateX(-126%);
      width: 95px;
      height: auto;
    }

    .sponsort-nero{
      position: absolute;
      top: 7%;
      left: 70%;
      transform: translateX(-110%);
      width: 55px;
      height: auto;
    }

    .full-bgsponsors {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .events{
      position: absolute;
      top: 4%;
      left: 58%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 3.5rem;
      width: 100%;
    }

    .events-image{
      width: 0px;
      height: auto;
      position: absolute;
      top: 190px;
      left: 50%;
      transform: translateX(-145%);
    }

    .events-title1{
      position: absolute;
      top: 15%;
      left: 59%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1.7rem;
      width: 100%;
    }

    .events-title2{
      position: absolute;
      top: 55%;
      left: 62%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1.5rem;
      width: 100%;
    }

    .events-para1{
      position: absolute;
      top: 22%;
      left: 53%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1rem;
      width: 75%;
    }

    .events-para2{
      position: absolute;
      top: 65%;
      left: 53%;
      transform: translateX(-50%);
      color: #002960;
      font-size: 1rem;
      width: 75%;
    }

    .events-line{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      color: #002960;
      width: 40%;
    }

    .full-bgevents {
      min-height: 108vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .project{
      position: absolute;
      top: 15px;
      left: 17%;
      color: #85C7F2;
      font-size: 2.5rem;
      width: 100%;
    }

    .project-title1{
      position: absolute;
      top: 80px;
      left: 60%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 1.5rem;
      width: 100%;
    }

    .project-title2{
      position: absolute;
      top: 700px;
      left: 80%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 1.5rem;
      width: 100%;
    }

    .project-para1{
      position: absolute;
      top: 165px;
      left: 50%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 0.8rem;
      width: 75%;
    }

    .project-para2{
      position: absolute;
      top: 750px;
      left: 50%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 0.8rem;
      width: 75%;
    }

    .project-image1{
      top: 600px;
      left: 25%;
      width: 190px;
      height: auto;
    }

    .project-image2{
      top: 1115px;
      left: 25%;
      width: 215px;
      height: auto;
    }

    .project-line{
      position: absolute;
      top: 675px;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }

    .full-bgproject {
      min-height: 127vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .team{
      position: absolute;
      top: 3%;
      left: 65%;
      transform: translateX(-50%);
      color: #0047B2;
      font-size: 2.7rem;
      width: 100%;
    }

    .team-image{
      position: absolute;
      top: 14%;
      left: 50%;
      transform: translateX(-50%);
      width: 375px;
      height: auto;
    }

    .team-para{
      position: absolute;
      top: 37%;
      left: 35%;
      transform: translateX(-29%);
      color: #0047B2;
      font-size: 1rem;
      width: 75%;
    }

    .team-bg{
      width: 1800px;
      height: 800px;
    }

    .full-bgteam {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .about-us{
      position: absolute;
      top: 30px;
      left: 66%;
      transform: translateX(-50%);
      color: #5C8FFF;
      font-size: 3.5rem;
      width: 100%;
    }

    .about-us-one{
      width: 375px;
      height: 500px;
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);
    }

    .about-us-one-image{
      top: 265px;
      left: 20%;
      width: 200px;
      height: auto;
    }
    .about-us-one-title{
      font-size: 2xl; /* text-2xl */
    }
    .about-us-one-para{
      font-size: small;
    }

    .about-us-two{
      position: absolute;
      top: 650px;
      left: 50%;
      transform: translateX(-50%);
      width: 375px;
      height: 500px;
    }
    .about-us-two-image{
      top: 185px;
      left: 20%;
      width: 200px; 
      height: auto;
    }
    .about-us-two-title{
      font-size: large;
    }
    .about-us-two-para{
      font-size: small;
    }
    .full-bgabout {
      min-height: 125vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }
  }

  /* Medium Screens (601px - 1024px) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {

    .nav-logo{
      width: 75px;
      height: auto;
    }
    .logo-image {
      width: 350px;
      height: auto;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -66%);
    }

    .other-bar{
      align-items: center;
      display: flex;
      flex-direction: row;
      
    }

    .home-image-right, 
    .home-image-left {
      width: 250px;
      top: 48%;
    }

    .main-heading {
      font-size: 2.8rem; /* text-4xl */
      top: 47%;
      left: 33%;
      transform: translateX(-50%);
    }

    .sub-heading {
      font-size: 1.3rem; /* text-2xl */
      top: 51%;
      left: 40%;
      transform: translateX(-50%);
    }

    .slogan {
      font-size: 1.5rem; /* text-3xl */
      top: 55%;
    }

    .full-bg {
      height: 100vh;
      width: 100vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .Apply{
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #85C7F2;
    }
  
    .sub-apply{
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
      width: 55%;
    }
  
    .apply-button{
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      color: #85C7F2;
    }
    .full-bgapply {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }
    .about-us{
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      color: #5C8FFF
    }
    .about-us-one{
      width: 750px;
      height: 600px;
      position: absolute;
      top: 180px;
      left: 50%;
      transform: translateX(-50%);
    }

    .about-us-one-image{
      top: 265px;
      right:210px;
      width: 325px;
      height: auto;
    }
    .about-us-one-title{
      font-size: 2rem; /* text-2xl */
    }
    .about-us-one-para{
      font-size: 1rem;
    }

    .about-us-two{
      position: absolute;
      top: 830px;
      left: 50%;
      transform: translateX(-50%);
      width: 750px;
      height: 500px;
    }
    .about-us-two-image{
      top: 185px;
      right:210px; 
      width: 300px; 
      height: auto;
    }
    .about-us-two-title{
      font-size: 2rem;
    }
    .about-us-two-para{
      font-size: 1rem;
    }
    .full-bgabout {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }
    .contact-us{
      position: absolute;
       top: 30%; 
       left: 60%;
       transform: translateX(-100%); 
       color: #002960;
       font-size: 3.5rem;
       width: 50%;
    }

    .contact-us-sub{
      font-size: 1.25rem;
      position: absolute;
      top: 40%;
      left: 60%;
      transform: translateX(-100%);
      color: #002960;
      width: 50%;

    }

    .insta{
      position: absolute;
      top: 50%; 
      left: 60%; 
      transform: translateX(-600%); 
      width: 75px; 
      height: 75px;
    }

    .linkedIn{
      position: absolute; 
      top: 50%; 
      left: 60%; 
      transform: translateX(-450%); 
      width: 75px; 
      height: 75px;
    }

    .gmail{
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translateX(-300%);
       width: 75px; 
       height: 75px;
    }

    .contact-image{
      width: 400px;
      height: auto;
      top: 50%;
      left: 75%;
      transform: translate(-50%, -66%);
    }

    .full-bgcontact {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .sponsors{
      position: absolute;
      top: 2%;
      left: 49%;
      transform: translateX(-110%);
      color: #FFFFFF;
      font-size: 3.75rem;
    }

    .sponsors-title{
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-45%);
      color: #FFFFFF;
      font-size: 3.4rem;
      width: 100%;
    }

    .sponsors-para{
      position: absolute;
      top: 27%;
      left: 50%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 1.05rem;
    }

    .sponsors-link{
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 1.05rem;
    }

    .sponsors-join{
      position: absolute;
      top: 71%;
      left: 60%;
      transform: translateX(-125%);
      color: #FFFFFF;
      font-size: 1.05rem;
    }

    .sponsors-contact{
      position: absolute;
      top: 76%;
      left: 50%;
      transform: translateX(-85%);
      color: #FFFFFF;
      font-size: 1.05rem;
    }

    .sponsors-button{
      top: 68%;
      left: 77%;
      transform: translateX(-50%);
    }

    .sponsors-image{
      position: absolute;
       top: 30%;
       left: 101%;
       transform: translateX(-95%);
       width: 450px;
       height: auto;
    }

    .sponsors-engg{
      position: absolute;
      top: 2%;
      left: 61%;
      transform: translateX(-50%);
      width: 275px;
      height: auto;
    }

    .sponsort-nero{
      position: absolute;
      top: 2%;
      left: 85%;
      transform: translateX(-50%);
      width: 115px;
      height: auto;
    }

    .full-bgsponsors {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .events{
      position: absolute;
      top: 5%;
      left: 70%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 2xl; /* text-2xl */
      width: 100%;
    }

    .events-image{
      width: 420px;
      height: auto;
      position: absolute;
      top: 40%;
      left: 53%;
      transform: translateX(-100%);
    }

    .events-title1{
      position: absolute;
      top: 19%;
      left: 63%;
      transform: translateX(-25%);
      color: #002960;
      font-size: 2.5rem; /* text-2xl */
      width: 50%;
    }

    .events-title2{
      position: absolute;
      top: 57%;
      left: 63%;
      transform: translateX(-20%);
      color: #002960;
      font-size: 2rem;
      width: 50%;
    }

    .events-para1{
      position: absolute;
      top: 31%;
      left: 65%;
      transform: translateX(-25%);
      color: #002960;
      font-size: 1rem;
      width: 45%;
    }

    .events-para2{
      position: absolute;
      top: 69%;
      left: 65%;
      transform: translateX(-25%);
      color: #002960;
      font-size: 1rem;
      width: 45%;
    }

    .events-line{
      position: absolute;
      top: 53%;
      left: 65%;
      transform: translateX(-25%);
      color: #002960;
    }
    .full-bgevents {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .project{
      position: absolute;
      top: 3%;
      left: 25%;
      color: #85C7F2;
      font-size: 4.5rem;
    }

    .project-title1{
      position: absolute;
      top: 13%;
      left: 29%;
      transform: translateX(-30%);
      color: #85C7F2;
      font-size: 2rem;
    }

    .project-title2{
      position: absolute;
      top: 55%;
      left: 22%;
      transform: translateX(-50%);
      color: #85C7F2;
      font-size: 2rem;
    }

    .project-para1{
      position: absolute;
      top: 22%;
      left: 38%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 0.9rem;
      width: 60%;
    }

    .project-para2{
      position: absolute;
      top: 60%;
      left: 38%;
      transform: translateX(-49%);
      color: #85C7F2;
      font-size: 0.9rem;
      width: 60%;
    }

    .project-image1{
      top: 40%;
      left: 73%;
      width: 250px;
      height: auto;
    }

    .project-image2{
      top: 75%;
      left: 70%;
      width: 300px;
      height: auto;
    }

    .project-line{
      position: absolute;
      top: 50%;
      left: 37%;
      transform: translateX(-50%);
      color: #85C7F2;
    }

    .full-bgproject {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }

    .team{
      position: absolute;
      top: 1%;
      left: 76%;
      /* transform: translateX(%); */
      color: #0047B2;
      font-size: 2xl; /* text-2xl */
      width: 100%;
    }

    .team-image{
      position: absolute;
      top: 16%;
      left: 50%;
      transform: translateX(-50%);
      width: 900px;
      height: auto;
    }

    .team-para{
      position: absolute;
      top: 72%;
      left: 51%;
      transform: translateX(-51%);
      color: #0047B2;
      font-size: small;
      width: 100%;
    }

    .team-bg{
      width: 1800px;
      height: 600px;
    }
    .full-bgteam {
      min-height: 100vh;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      overflow-x: hidden;
    }
  }
}