@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  @keyframes slideIn {
    0% {
        transform: translateY(-100vh) translateX(-50%);
        opacity: 0;
    }
    80% {
      transform: translateY(-264px) translateX(-50%); /* Move close to the final position */
      opacity: 1; /* Fully visible */
    }
    90% {
      transform: translateY(-297px) translateX(-50%); /* Overshoot the final position slightly */
    }
    100% {
        transform: translateY(-330px) translateX(-50%);
        opacity: 1;
    }
}

.animate-logo {
    animation: slideIn 1s ease-out, bounce 0.4s ease-out 0.9s forwards;;
}

/* Define the fade-in animation */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

.fade-in-second {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 1s; /* Delay of 1 second */
}

.fade-in-third {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
  animation-delay: 2s; /* Delay of 2 seconds */
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}
/* Define the slide-in and fade-in animation for the left image */
.slide-in-left {
  opacity: 0; /* Start invisible */
  transform: translateX(-100vw); /* Start off the screen to the left */
  animation: slideInFromLeft 2s ease-out forwards;
}

/* Define the slide-in and fade-in animation for the right image */
.slide-in-right {
  opacity: 0; /* Start invisible */
  transform: translateX(100vw); /* Start off the screen to the right */
  animation: slideInFromRight 2s ease-out forwards;
}

/* Keyframes for sliding in from the left */
@keyframes slideInFromLeft {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(-100vw); /* Start far left */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

/* Keyframes for sliding in from the right */
@keyframes slideInFromRight {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(100vw); /* Start far right */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

.slide-in-right-delay {
  opacity: 0; /* Start invisible */
  transform: translateX(100vw); /* Start off the screen to the right */
  animation: slideInFromRightD 4s ease-out forwards;
}

@keyframes slideInFromRightD {
  0% {
    opacity: 0; /* Initially invisible */
    transform: translateX(100vw); /* Start far right */
  }
  100% {
    opacity: 1; /* Fade in */
    transform: translateX(0), translateY(100%); /* End in normal position */
  }
}

}


@layer utilities {
  /* Default Large Screens */
  .nav-logo{
    width: 75px;
    height: auto;
  }
  .other-bar{
    align-items: center;
    display: flex;
    gap: 0.5rem; 
  }
  .logo-image {
    width: 500px;
    height: auto;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -66%);
  }

  .home-image-right {
    width: 425px;
    height: auto;
    right: 10px;
    top: 50%;
    transform: translateY(-75%);
  }

  .home-image-left {
    width: 425px;
    height: auto;
    left: 10px;
    top: 50%;
    transform: translateY(-75%);
  }

  .main-heading {
    position: absolute;
    top: 420px;
    left: 51%;
    transform: translateX(-145%);
    font-size: 4.5rem; /* text-7xl */
    color: #0047B2;
  }

  .sub-heading {
    position: absolute;
    top: 515px;
    left: 51%;
    transform: translateX(-118%);
    font-size: 1.5rem; /* text-2xl */
    color: #0047B2;
  }

  .slogan {
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; /* text-4xl */
    color: #0047B2;
  }

  /* Small Screens (max-width: 600px) */
  @media only screen and (max-width: 600px) {
    .nav-bar{
      gap: -10px;
      font-size: 0.4rem;
      padding: 1px;
    
    }
    .nav-logo{
      width: 35px;
    }
    .other-bar{
      padding: 0px;
      gap : 0rem;
      right:50%;
    }
    .logo-image {
      width: 200px;
      top: 51%;
      left: 55%;
    }

    .home-image-right{
      width: 100px;
      top: 50%;
    }
    .home-image-left {
      width: 100px;
      top: 50%;
      right: 10%
    }

    .main-heading {
      font-size: 2rem; /* text-3xl */
      top: 51%;
      left: 31%;
      transform: translateX(-50%);
    }

    .sub-heading {
      font-size: 1rem; /* text-xl */
      top: 55%;
      left: 43%;
      transform: translateX(-50%);
    }

    .slogan {
      font-size: 1rem; /* text-2xl */
      top: 60%;
      left: 55%;
    }
  }

  /* Medium Screens (601px - 1024px) */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .nav-logo{
      width: 75px;
      height: auto;
    }
    .logo-image {
      width: 350px;
      height: 800px;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -66%);
    }

    .other-bar{
      align-items: center;
      display: flex;
      gap: 0.5rem; 
    }

    .home-image-right, 
    .home-image-left {
      width: 250px;
      top: 48%;
    }

    .main-heading {
      font-size: 3rem; /* text-4xl */
      top: 47%;
      left: 33%;
      transform: translateX(-50%);
    }

    .sub-heading {
      font-size: 1.5rem; /* text-2xl */
      top: 51%;
      left: 40%;
      transform: translateX(-50%);
    }

    .slogan {
      font-size: 1.6rem; /* text-3xl */
      top: 55%;
    }
  }
}


